
RCMK2/.vs/RCMK2/v15/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
RCMK2/RCMK2.sln
RCMK2/RCMK2/App.config
*.resx
*.config
*.exe
*.pdb
*.cache
*.resources
RCMK2/RCMK2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RCMK2/RCMK2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RCMK2/RCMK2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RCMK2/RCMK2/obj/Debug/RCMK2.csproj.FileListAbsolute.txt
RCMK2/RCMK2/obj/Debug/RCMK2.csproj.CopyComplete
RCMK2/RCMK2/Properties/AssemblyInfo.cs
RCMK2/RCMK2/Properties/Resources.Designer.cs
RCMK2/RCMK2/Properties/Settings.Designer.cs
RCMK2/RCMK2/Properties/Settings.settings
RCMK2/RCMK2/RCMK2.csproj
RSMK2/.vs/RSMK2/v15/.suo
*.sln
RSMK2/RSMK2/obj/Debug/RSMK2.csproj.FileListAbsolute.txt
RSMK2/RSMK2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RSMK2/RSMK2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RSMK2/RSMK2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RSMK2/RSMK2/Properties/AssemblyInfo.cs
RSMK2/RSMK2/RSMK2.csproj
