
zwscsclient/.vs/zwscsclient/v15/.suo
zwscsclient/.vs/zwscsclient/v15/Server/sqlite3/db.lock
*.ide
*.ide-shm
*.ide-wal
*.sln
zwscsclient/zwscsclient/ActionForm.designer.cs
zwscsclient/zwscsclient/ActionForm.resx
zwscsclient/zwscsclient/bin/Debug/zwscsclient.exe
*.pdb
zwscsclient/zwscsclient/BranchForm.designer.cs
*.resx
zwscsclient/zwscsclient/bin/Debug/zwscsclient.exe.config
zwscsclient/zwscsclient/Form1.designer.cs
zwscsclient/zwscsclient/MaterialForm.designer.cs
*.cache
zwscsclient/zwscsclient/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
zwscsclient/zwscsclient/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
zwscsclient/zwscsclient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.dll
*.resources
zwscsclient/zwscsclient/obj/Debug/zwscsclient.csproj.FileListAbsolute.txt
*.exe
zwscsclient/zwscsclient/Program.cs
zwscsclient/zwscsclient/Properties/AssemblyInfo.cs
zwscsclient/zwscsclient/Properties/Resources.Designer.cs
zwscsclient/zwscsclient/Properties/Settings.Designer.cs
zwscsclient/zwscsclient/Properties/Settings.settings
zwscsclient/zwscsclient/ProviderForm.designer.cs
zwscsclient/zwscsclient/StaffForm.designer.cs
*.datasource
zwsjclient/.idea/encodings.xml
zwsjclient/.idea/libraries/lib.xml
zwsjclient/.idea/misc.xml
zwsjclient/.idea/modules.xml
zwsjclient/.idea/workspace.xml
zwsjclient/.idea/uiDesigner.xml
*.jar
zwsserver/.idea/libraries/com_sun_xml_ws_jaxws_rt_2_3_2.xml
zwsserver/.classpath
zwsserver/.idea/misc.xml
zwsjclient/zwsjclient.iml
zwsserver/.idea/modules.xml
zwsserver/.project
zwsserver/.idea/workspace.xml
zwsserver/zwsserver.iml
